.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
queries

/vendor/

uploads/banners/*
!uploads/banners/index.html
uploads/users/*
!uploads/users/index.html
uploads/category/*
!uploads/category/index.html
uploads/astrologers/*
!uploads/astrologers/index.html